<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- Your CSS imports -->
    <link rel="stylesheet" href="/path/to/your/css/file.css">
</head>

<body>
    
    <title>housing</title>
<!-- Site favicon -->
<link href="https://www.una.edu/brand/images/logo/round/UNA-roundLionPurpleW.png.pagespeed.ce.sooHu-qo8w.png" rel="shortcut icon"/>
<!--Material Icon -->
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.3.67/css/materialdesignicons.min.css" integrity="sha512-nRzny9w0V2Y1/APe+iEhKAwGAc+K8QYCw4vJek3zXhdn92HtKt226zHs9id8eUq+uYJKaH2gPyuLcaG/dE5c7A==" referrerpolicy="no-referrer" rel="stylesheet"/>
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Tajawal:wght@200;300;400;500;700;800;900&amp;display=swap" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<!-- <link href="https://arabyai-webpages.s3.me-south-1.amazonaws.com/template_website/araby_ai_template/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<link href="https://arabyai-webpages.s3.me-south-1.amazonaws.com/template_website/araby_ai_template/css/animate.css" rel="stylesheet"/>
<link href="https://arabyai-webpages.s3.me-south-1.amazonaws.com/template_website/testing_template/css/bootstrap.min.css" rel="stylesheet"/>
<link class="style" href="css/style.css" rel="stylesheet"/>
<!-- orange -->
<!-- <link class="style" href="css/style_Orange.css" rel="stylesheet" type="text/css" /> -->
<style>
      body,
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a,
      button {
        font-family: "Poppins";
      }
      /* Add other CSS styles here */
      .contact_details {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
      }

      @media (min-width: 768px) {
        .contact_details {
          flex-direction: row;
        }
      }
      .section-title .sub-title::before {
        right: 2px;
      }
    </style>
</head>
<body data-bs-offset="60" data-bs-spy="scroll" data-bs-target=".navbar">
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky-dark" id="navbar-sticky">
<div class="container">
<!-- LOGO -->
<a class="logo text-uppercase" href="/" style="display: flex; justify-content: center; gap: 10px; align-items: center">
<img alt="" src="https://www.una.edu/brand/images/logo/round/UNA-roundLionPurpleW.png.pagespeed.ce.sooHu-qo8w.png" width="50px"/>
</a>
<button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
<i class="mdi mdi-menu"></i>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav ms-auto navbar-center" id="mySidenav">
<li class="nav-item">
<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#about">Transportation</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#features">Housing</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#testimonial">Testimonial</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/login">Login/logup</a>
  </li>
</li>
</ul>
</div>
</div>
</nav>
<!-- Navbar End -->
<!-- home-agency start -->
<section class="hero-agency" id="home" style="background-image: url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21--%20Generator%3A%20Adobe%20Illustrator%2026.3.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201837.6%20825.8%22%20style%3D%22enable-background%3Anew%200%200%201837.6%20825.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cstyle%20type%3D%22text/css%22%3E%20.st0%7Bfill%3Aurl%28%23SVGID_1_%29%3B%7D%20.st1%7Bfill%3Anone%3Bstroke%3A%238c00ff40%3Bstroke-width%3A6%3Bstroke-miterlimit%3A10%3B%7D%20.st2%7Bfill%3A%238c00ff40%3B%7D%20.st3%7Bfill%3Anone%3Bstroke%3A%238c00ff40%3Bstroke-width%3A3.2%3Bstroke-miterlimit%3A10%3B%7D%20%3C/style%3E%20%3Cg%20id%3D%22Layer_2_00000053544470457071224840000006208577058981760911_%22%3E%20%3Cg%20id%3D%22Layer_7%22%3E%20%3Cg%20id%3D%22Layer_8%22%3E%20%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%221194.389%22%20y1%3D%22469.8773%22%20x2%3D%221876.3309%22%20y2%3D%22718.0839%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20828%29%22%3E%20%3Cstop%20%20offset%3D%220.2633%22%20style%3D%22stop-color%3A%23FFFFFF%22/%3E%20%3Cstop%20%20offset%3D%220.999%22%20style%3D%22stop-color%3A%23999999%22/%3E%20%3C/linearGradient%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M1219.4%2C0c0%2C0-5.5%2C18.7%2C7.3%2C27.8s100%2C62.7%2C60.9%2C88.6c-39.1%2C25.9-113.6%2C75.9-120%2C137.7%20c-6.4%2C61.8%2C33.9%2C81.2%2C70.9%2C90.3c37%2C9.1%2C68.5%2C3.9%2C100.3%2C36.7s42.4%2C70%2C59.1%2C117.6s48.8%2C61.5%2C77.3%2C56.4c28.5-5.2%2C53.6-8.2%2C84.9-62.1%20c31.2-53.9%2C58.8-74.2%2C98.8-66.7c40%2C7.6%2C52.1%2C40%2C178.8%2C46.7l-1.3-278.8c0%2C0-39.9-27.6-46.7-46.9c-18-50.8%2C46.7-115.6%2C46.7-115.6V0%20H1219.4z%22/%3E%20%3C/g%3E%20%3Ccircle%20class%3D%22st1%22%20cx%3D%22714.7%22%20cy%3D%22258.5%22%20r%3D%2217.7%22/%3E%20%3Cpath%20class%3D%22st2%22%20d%3D%22M1243.9%2C203.1l75.7-45.3l10.8-6.4c5.5-3.3%2C0.5-12-5-8.6l-75.7%2C45.3l-10.7%2C6.4%20C1233.3%2C197.8%2C1238.4%2C206.5%2C1243.9%2C203.1L1243.9%2C203.1z%22/%3E%20%3Cpath%20class%3D%22st2%22%20d%3D%22M1535.1%2C772.2l-58.6-56.5c-4.6-4.5-11.7%2C2.6-7.1%2C7.1l58.6%2C56.5C1532.7%2C783.7%2C1539.8%2C776.6%2C1535.1%2C772.2z%22/%3E%20%3Ccircle%20class%3D%22st1%22%20cx%3D%221480.7%22%20cy%3D%22307.2%22%20r%3D%2257.2%22/%3E%20%3Ccircle%20class%3D%22st1%22%20cx%3D%221754.1%22%20cy%3D%22319.4%22%20r%3D%2247.6%22/%3E%20%3Cpolygon%20class%3D%22st3%22%20points%3D%2251.6%2C675.8%2016.9%2C714.2%202.3%2C660.3%20%09%09%22/%3E%20%3C/g%3E%20%3C/g%3E%20%3C/svg%3E');">
<div class="container">
<div class="row">
<div class="col-lg-6">
<h3 class="text-muted mb-5 fs-18 small">This site is to help international students from the moment they arrive at the airport until they obtain suitable housing for them.</h3>
<p class="text-muted mb-5 fs-18"> Look below to see the steps you need to take.</p>
<div class="d-flex align-items-center mb-4 mb-lg-0">
<a class="btn btn-gradient-success rounded-pill me-4" href="#contact">Contact Us <i class="mdi mdi-chevron-right ms-1"></i></a>
</div>
</div>
<div class="col-lg-6">
<img alt="" class="img-fluid" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22668.6%22%20height%3D%22593.48%22%20viewBox%3D%220%200%20668.6%20593.48%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Crect%20x%3D%2258.96%22%20width%3D%22558.67%22%20height%3D%22426.47%22%20rx%3D%2221.76%22%20ry%3D%2221.76%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M80.72%2C5c-9.24%2C0-16.76%2C7.52-16.76%2C16.76v382.94c0%2C9.24%2C7.52%2C16.76%2C16.76%2C16.76h515.15c9.24%2C0%2C16.76-7.52%2C16.76-16.76V21.76c0-9.24-7.52-16.76-16.76-16.76H80.72Z%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22336.29%22%20y%3D%222.55%22%20width%3D%223.99%22%20height%3D%22421.84%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22314.57%22%20cy%3D%2265.58%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22362.01%22%20cy%3D%2265.58%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22314.57%22%20cy%3D%22139.41%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22362.01%22%20cy%3D%22139.41%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22314.57%22%20cy%3D%22213.23%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22362.01%22%20cy%3D%22213.23%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22314.57%22%20cy%3D%22287.06%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22362.01%22%20cy%3D%22287.06%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22314.57%22%20cy%3D%22360.88%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22362.01%22%20cy%3D%22360.88%22%20r%3D%225.65%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C62.97l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C69.9l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C137.12l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C144.06l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C211.27l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C218.21l-1.05-1.7c.26-.16%2C26.09-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C285.42l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.03-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C292.36l-1.05-1.7c.26-.16%2C26.09-15.77%2C48.54.03l-1.15%2C1.64c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C359.57l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.63c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M315.09%2C366.51l-1.05-1.7c.26-.16%2C26.1-15.77%2C48.54.03l-1.15%2C1.63c-21.36-15.04-46.1-.12-46.34.03Z%22%20fill%3D%22%23d7d7d8%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M464.85%2C111.77s-20.58%2C2.32-21.91%2C34.19c-1.11%2C26.56-3.37%2C41.36%2C7.44%2C46.9%2C3.86%2C1.98%2C8.4%2C2.15%2C12.53.8l44.1-14.5s.66-47.8-14.61-59.42c-15.27-11.62-27.55-7.97-27.55-7.97Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22489.16%20185.03%20466.84%20192.37%20466.84%20160.24%20487.09%20160.24%20489.16%20185.03%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-89c22d20-9486-4802-b91b-ddf2a7c7ca0a-46%22%20d%3D%22M420.93%2C367.41c-1.21%2C7.36-6.12%2C12.64-10.96%2C11.79-4.85-.85-7.79-7.51-6.58-14.87.44-2.95%2C1.61-5.74%2C3.4-8.13l5.53-31.12%2C15.05%2C3.15-7.05%2C30.34c.93%2C2.87%2C1.14%2C5.9.61%2C8.84%2C0%2C0%2C0%2C0%2C0%2C0Z%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22472.03%20574.33%20451.13%20574.33%20439.01%20462.64%20471.32%20462.64%20472.03%20574.33%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M430.77%2C592.29c-2.2%2C0-4.16-.05-5.63-.19-5.55-.51-10.85-4.61-13.51-7-1.19-1.07-1.58-2.79-.96-4.27h0c.45-1.06%2C1.34-1.85%2C2.45-2.17l14.67-4.19%2C23.76-16.03.27.48c.1.18%2C2.43%2C4.38%2C3.21%2C7.22.3%2C1.08.22%2C1.98-.23%2C2.68-.31.48-.75.76-1.1.92.43.45%2C1.78%2C1.36%2C5.93%2C2.02%2C6.07.96%2C7.33-5.32%2C7.39-5.58l.04-.21.18-.12c2.88-1.86%2C4.66-2.7%2C5.27-2.52.38.11%2C1.02.31%2C2.74%2C17.41.17.54%2C1.38%2C4.47.56%2C8.24-.89%2C4.1-18.78%2C2.69-22.36%2C2.36-.1.01-13.49.96-22.67.96Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22519.26%20574.33%20498.35%20574.33%20486.23%20462.64%20518.54%20462.64%20519.26%20574.33%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M478%2C592.29c-2.2%2C0-4.16-.05-5.63-.19-5.55-.51-10.85-4.61-13.51-7-1.19-1.07-1.58-2.79-.96-4.27h0c.45-1.06%2C1.34-1.85%2C2.45-2.17l14.67-4.19%2C23.76-16.03.27.48c.1.18%2C2.43%2C4.38%2C3.21%2C7.22.3%2C1.08.22%2C1.98-.23%2C2.68-.31.48-.75.76-1.1.92.43.45%2C1.78%2C1.36%2C5.93%2C2.02%2C6.07.96%2C7.33-5.32%2C7.39-5.58l.04-.21.18-.12c2.89-1.86%2C4.66-2.7%2C5.27-2.52.38.11%2C1.02.31%2C2.74%2C17.41.17.54%2C1.38%2C4.47.56%2C8.24-.89%2C4.1-18.78%2C2.69-22.36%2C2.36-.1.01-13.49.96-22.67.96Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22525.27%20299.99%20423.7%20299.99%20460.21%20179.82%20500.71%20179.82%20525.27%20299.99%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M466.6%2C179.84s-25.23-.66-27.88%2C5.98c-2.66%2C6.64-33.86%2C164.65-33.86%2C164.65h20.58l41.16-170.62Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22469.6%22%20cy%3D%22146.89%22%20r%3D%2222.24%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M463.52%2C120.07s-12.24%2C49.7%2C1.37%2C72.93l-19.17-4.07s-7.43-54.39%2C7.51-64.28l10.29-4.58Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M504.16%2C299.99h-66.66l-36.47%2C149.69c-.67%2C6.32%2C3.34%2C12.22%2C9.48%2C13.87%2C20.01%2C5.36%2C68.03%2C12.95%2C140.7-8.2%2C6.99-2.03%2C10.96-9.41%2C8.77-16.36l-55.82-139Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M668.6%2C592.29c0%2C.66-.53%2C1.19-1.19%2C1.19H1.19c-.66%2C0-1.19-.53-1.19-1.19s.53-1.19%2C1.19-1.19h666.22c.66%2C0%2C1.19.53%2C1.19%2C1.19Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M477.21%2C179.82l20.73-.91c8.98.68%2C17.1%2C5.56%2C21.91%2C13.17%2C14.65%2C23.16%2C42.06%2C71.97%2C17.59%2C78.66-32.26%2C8.81-47.89-40.24-47.89-40.24l-12.34-50.68Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M458.1%2C197.46l50.76-36.96c.6-.44%2C1.44-.3%2C1.88.3l1.23%2C1.69c.44.6.3%2C1.44-.3%2C1.88l-50.75%2C36.96h-.01s-6.73%2C2.9-6.73%2C2.9l-.51-.7%2C4.43-6.07Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-98bb229b-1f5d-4c6c-926b-55ef96e77de9-47%22%20d%3D%22M470.1%2C194.37c-4.26-6.12-4.41-13.33-.35-16.1%2C4.07-2.77%2C10.82-.04%2C15.08%2C6.08%2C1.74%2C2.42%2C2.84%2C5.24%2C3.22%2C8.2l17.71%2C26.18-12.99%2C8.23-16.08-26.68c-2.67-1.41-4.93-3.44-6.59-5.91%2C0%2C0%2C0%2C0%2C0%2C0Z%22%20fill%3D%22%23f3a3a6%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22480.58%20215.54%20495.21%20202.07%20524.14%20229.01%20497.24%20247.4%20480.58%20215.54%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C75.9c20.55-.79%2C41.12-1.13%2C61.69-1.01s40.8.69%2C61.17%2C1.72c11.6.58%2C23.18%2C1.31%2C34.76%2C2.19%2C1.93.15%2C1.92-2.86%2C0-3-20.51-1.55-41.05-2.64-61.61-3.28s-40.8-.8-61.2-.53c-11.61.16-23.22.46-34.82.91-1.92.07-1.93%2C3.07%2C0%2C3h0Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C109.84c20.55-.79%2C41.12-1.13%2C61.69-1.01s40.8.69%2C61.17%2C1.72c11.6.58%2C23.18%2C1.31%2C34.76%2C2.19%2C1.93.15%2C1.92-2.86%2C0-3-20.51-1.55-41.05-2.64-61.61-3.28s-40.8-.8-61.2-.53c-11.61.16-23.22.46-34.82.91-1.92.07-1.93%2C3.07%2C0%2C3h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C143.78c16.68-.65%2C33.37-1.39%2C50.07-1.68%2C14.28-.25%2C28.56-.02%2C42.82.67%2C10.17.49%2C20.33%2C1.18%2C30.49%2C1.94%2C1.93.15%2C1.92-2.86%2C0-3-16.64-1.26-33.3-2.29-49.99-2.61-14.28-.27-28.57.04-42.84.52-10.18.35-20.36.76-30.55%2C1.16-1.92.07-1.93%2C3.07%2C0%2C3h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C177.72c17.66-.68%2C35.33-1.4%2C53-1.66%2C15.82-.24%2C31.65-.03%2C47.46.69%2C10.53.48%2C21.05%2C1.15%2C31.57%2C1.95%2C1.93.15%2C1.92-2.86%2C0-3-17.62-1.33-35.26-2.32-52.92-2.62-15.83-.28-31.66%2C0-47.48.5-10.54.33-21.08.74-31.62%2C1.15-1.92.07-1.93%2C3.07%2C0%2C3h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C211.65c16.06-.62%2C32.1-1.6%2C48.15-2.35%2C13.26-.62%2C26.52-.83%2C39.79-.39%2C9.94.33%2C19.87.95%2C29.78%2C1.7%2C1.93.15%2C1.92-2.86%2C0-3-16-1.21-32.02-2.06-48.07-1.94-13.29.1-26.55.87-39.81%2C1.58-9.94.53-19.89%2C1.01-29.84%2C1.4-1.92.07-1.93%2C3.08%2C0%2C3h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22M110.83%2C245.59c20.55-.79%2C41.12-1.13%2C61.69-1.01s40.8.69%2C61.17%2C1.72c11.6.58%2C23.18%2C1.31%2C34.76%2C2.19%2C1.93.15%2C1.92-2.86%2C0-3-20.51-1.55-41.05-2.64-61.61-3.28s-40.8-.8-61.2-.53c-11.61.16-23.22.46-34.82.91-1.92.07-1.93%2C3.07%2C0%2C3h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3C/svg%3E"/>
</div>
</div>
</div>
</section>
<!-- home-agency end -->
<!-- Transpotion start -->
<section class="hero-6 bg-dark d-flex align-items-center position-relative" id="about">
    <!-- <h1 class="hero-title d-none d-xl-block text-uppercase">We Grow</h1> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="hero-content mb-lg-0 mb-md-5 mb-5 pb-lg-0 pb-md-5">
                    <!--<h1 class="text-light font-weight-medium">We Grow</h1>-->
                    <h1 class="text-light font-weight-medium mb-4 pb-1">How to get from the airport to the UNA</h1>
                    <p class="hero-6-sub-title mb-4 pb-2" style="font-size: 16px">The first step after your arrival at Hansville Airport. Click here to learn about the appropriate options for arriving at the university</p>
                    <a class="btn btn-primary" href="/tp">click here</a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-7">
                <img alt="hero" class="img-fluid rounded" src="https://ideogram.ai/api/images/direct/YVbqnoZxTqOMv3AtBcYymA.png">
            </div>
        </div>
    </div>
</section>
<!-- Transpotion end -->
<!-- Services start -->
<section class="powerful-tools-area" id="features">
  <div class="powerful-shape shape-1"></div>
  <div class="container">
      <div class="powerful-tools-wrapper">
          <div class="row">
              <div class="col-lg-6">
                  <div class="powerful-image mt-50 wow fadeInLeftBig" data-wow-delay="0.3s" data-wow-duration="1s">
                      <div class="image">
                          <img alt="" class="feature1" id="img-fluid" src="https://raw.githubusercontent.com/codewithsadee/homeverse/master/assets/images/hero-banner.png">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="powerful-tools-content mt-50">
                      <div class="section-title">
                          <p class="sub-title">Features</p>
                          <h2 class="title" id="feat_title1">To search for suitable housing at the University of North Alabama</h2>
                      </div>
                      <div class="powerful-content-wrapper">
                          <p id="feat_desc1" style="font-size: 16px">You will find here a simple result that will save you time in order to obtain suitable housing for you</p>
                          <a class="main-btn main-btn-2 bg-primary" href="/hous">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Services end -->
<!--====== Discover Start ======-->
<section class="discover-area" id="discover">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="discover-content-wrapper">
<div class="section-title">
<p class="sub-title">Features</p>
<h2 class="title" id="feat_title2">Close to Campus</h2>
</div>
<div class="discover-content">
<p id="feat_desc2" style="font-size: 16px">Prime Location</p>
<a class="main-btn main-btn-2 bg-primary" href="#contact">Learn More</a>
</div>
</div>
</div>
<div class="col-lg-6">
<!-- <div class="powerful-image mt-50 wow fadeInLeftBig" data-wow-delay="0.3s" data-wow-duration="1s"> -->
<div class="image">
<img src="https://ideogram.ai/api/images/direct/qXpbW3K6TcGJf-3eUEjJeg.png" alt="New Image">
</div>
</div>
</div>
</div>
</div>
</section>

<div class="col-lg-6">
<div class="powerful-image mt-50 wow fadeInLeftBig" data-wow-delay="0.3s" data-wow-duration="1s">
<div class="image">
<img alt="" class="feature2" id="img-fluid" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22949.85%22%20height%3D%22469.99%22%20viewBox%3D%220%200%20949.85%20469.99%22%3E%3Cpath%20d%3D%22m767.55%2C468H115.11c-8.14%2C0-14.76-6.62-14.76-14.76V14.76c0-8.14%2C6.62-14.76%2C14.76-14.76h652.44c8.14%2C0%2C14.76%2C6.62%2C14.76%2C14.76v438.47c0%2C8.14-6.62%2C14.76-14.76%2C14.76Z%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m767.55%2C468H115.11c-8.14%2C0-14.76-6.62-14.76-14.76V14.76c0-8.14%2C6.62-14.76%2C14.76-14.76h652.44c8.14%2C0%2C14.76%2C6.62%2C14.76%2C14.76v438.47c0%2C8.14-6.62%2C14.76-14.76%2C14.76ZM115.11%2C6c-4.83%2C0-8.76%2C3.93-8.76%2C8.76v438.47c0%2C4.83%2C3.93%2C8.76%2C8.76%2C8.76h652.44c4.83%2C0%2C8.76-3.93%2C8.76-8.76V14.76c0-4.83-3.93-8.76-8.76-8.76H115.11Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m779.31%2C14.76v12.12H103.35v-12.12c0-6.5%2C5.27-11.76%2C11.76-11.76h652.44c6.5%2C0%2C11.76%2C5.27%2C11.76%2C11.76Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22117.74%22%20cy%3D%2214.8%22%20r%3D%223.45%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22129.25%22%20cy%3D%2214.8%22%20r%3D%223.45%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22140.76%22%20cy%3D%2214.8%22%20r%3D%223.45%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22161.48%22%20y%3D%2239.55%22%20width%3D%22552.22%22%20height%3D%2217.84%22%20rx%3D%228.92%22%20ry%3D%228.92%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m339.08%2C251.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Zm-118.96-123.74c-4.97%2C0-9.02%2C4.05-9.02%2C9.02v101.7c0%2C4.97%2C4.05%2C9.02%2C9.02%2C9.02h118.96c4.97%2C0%2C9.02-4.05%2C9.02-9.02v-101.7c0-4.97-4.05-9.02-9.02-9.02h-118.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m500.81%2C251.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Zm-118.96-123.74c-4.97%2C0-9.02%2C4.05-9.02%2C9.02v101.7c0%2C4.97%2C4.05%2C9.02%2C9.02%2C9.02h118.96c4.97%2C0%2C9.02-4.05%2C9.02-9.02v-101.7c0-4.97-4.05-9.02-9.02-9.02h-118.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m662.54%2C251.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Zm-118.96-123.74c-4.97%2C0-9.02%2C4.05-9.02%2C9.02v101.7c0%2C4.97%2C4.05%2C9.02%2C9.02%2C9.02h118.96c4.97%2C0%2C9.02-4.05%2C9.02-9.02v-101.7c0-4.97-4.05-9.02-9.02-9.02h-118.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m339.08%2C410.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Zm-118.96-123.74c-4.97%2C0-9.02%2C4.05-9.02%2C9.02v101.7c0%2C4.97%2C4.05%2C9.02%2C9.02%2C9.02h118.96c4.97%2C0%2C9.02-4.05%2C9.02-9.02v-101.7c0-4.97-4.05-9.02-9.02-9.02h-118.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m500.81%2C410.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Zm-118.96-123.74c-4.97%2C0-9.02%2C4.05-9.02%2C9.02v101.7c0%2C4.97%2C4.05%2C9.02%2C9.02%2C9.02h118.96c4.97%2C0%2C9.02-4.05%2C9.02-9.02v-101.7c0-4.97-4.05-9.02-9.02-9.02h-118.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m662.54%2C410.04h-118.96c-7.18%2C0-13.02-5.84-13.02-13.02v-101.7c0-7.18%2C5.84-13.02%2C13.02-13.02h118.96c7.18%2C0%2C13.02%2C5.84%2C13.02%2C13.02v101.7c0%2C7.18-5.84%2C13.02-13.02%2C13.02Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m0%2C468.3c0%2C.94%2C1.07%2C1.69%2C2.41%2C1.69h945.03c1.33%2C0%2C2.41-.75%2C2.41-1.69s-1.07-1.69-2.41-1.69H2.41c-1.33%2C0-2.41.75-2.41%2C1.69Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m702.47%2C89.43l12.27-9.55s14%2C4.36%2C14.36%2C4.54%2C21.73%2C49.74%2C21.73%2C49.74c0%2C0-54.74%2C28.02-50.74%2C25.28%2C4-2.72%2C3.17-39.65-.55-44.46-3.73-4.82-.55-16.92-.55-16.92l3.45-8.64h.02Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22736.39%20111.76%20719.75%20111.76%20719.75%20138.16%20738.1%20132.13%20736.39%20111.76%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-e8a90abb-812c-425b-81fc-a172025cdd8e-44-44%22%20d%3D%22m682.03%2C282.01c.43-2.41.26-4.9-.5-7.26l5.8-24.93-12.37-2.59-4.54%2C25.57c-1.48%2C1.96-2.44%2C4.26-2.8%2C6.68-1%2C6.05%2C1.43%2C11.53%2C5.41%2C12.22%2C3.98.7%2C8.01-3.64%2C9.01-9.69h0Z%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22714.02%22%20y%3D%22427.7%22%20width%3D%2217.18%22%20height%3D%2224.37%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m697.3%2C466.82c7.54%2C0%2C18.55-.79%2C18.63-.8%2C2.95.26%2C17.65%2C1.42%2C18.38-1.94.67-3.09-.32-6.32-.46-6.77-1.42-14.05-1.94-14.22-2.26-14.31-.5-.15-1.96.55-4.33%2C2.08l-.15.1-.03.17c-.04.21-1.09%2C5.37-6.07%2C4.59-3.41-.54-4.52-1.3-4.87-1.67.29-.13.65-.36.9-.75.37-.57.43-1.31.19-2.2-.64-2.33-2.56-5.78-2.64-5.93l-.22-.39-19.52%2C13.17-12.06%2C3.45c-.91.25-1.64.91-2.01%2C1.78h0c-.51%2C1.21-.2%2C2.63.79%2C3.51%2C2.19%2C1.97%2C6.55%2C5.34%2C11.11%2C5.76%2C1.21.11%2C2.82.16%2C4.63.16h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22770.69%22%20y%3D%22411.25%22%20width%3D%2217.18%22%20height%3D%2224.37%22%20transform%3D%22translate%28-106.02%20476.52%29%20rotate%28-31.95%29%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m760.75%2C463.49c2.4%2C0%2C5.05-.34%2C7.28-1.47%2C5.63-2.83%2C19.32-12.78%2C19.4-12.85%2C2.63-1.33%2C15.72-8.13%2C14.56-11.37-1.07-2.98-3.62-5.2-3.97-5.5-8.64-11.18-9.16-11.04-9.48-10.95-.51.14-1.37%2C1.5-2.58%2C4.05l-.07.16.07.16c.08.21%2C1.92%2C5.14-2.72%2C7.1-3.18%2C1.35-4.52%2C1.3-5.01%2C1.16.18-.27.36-.65.37-1.12.02-.68-.32-1.35-1-1.97-1.78-1.64-5.23-3.55-5.38-3.63l-.39-.21-9.6%2C21.51-8.41%2C9.3c-.64.7-.91%2C1.64-.76%2C2.58h0c.21%2C1.3%2C1.23%2C2.33%2C2.53%2C2.56%2C1.32.23%2C3.17.48%2C5.19.48h0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m743.85%2C223.88s5.57%2C0%2C14.3%2C17.46c8.73%2C17.47-2.38%2C87.57-2.38%2C87.57l31.1%2C80.48-21.82%2C15.28-39.83-86.2%2C9.82%2C95.48h-24.55l-19.1-165.32%2C4.36-44.74h48.1s0%2C0%2C0%2C0Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22747.59%20127.86%20714.31%20127.86%20684.3%20226.61%20767.77%20226.61%20747.59%20127.86%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m719.57%2C127.86l-33.83%2C140.22h-16.92s25.64-129.85%2C27.83-135.31c2.18-5.46%2C22.91-4.91%2C22.91-4.91h0Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22722.03%22%20cy%3D%22100.78%22%20r%3D%2218.28%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m699.26%2C97.45l4.48.76c4.18-16.74%2C13.65-11.27%2C14.55-11.46s14.36%2C14.54%2C13.27%2C29.46c-1.09%2C14.91%2C18.19%2C21.9%2C18.19%2C21.9%2C0%2C0%2C6.74%2C12.66.73%2C35.57s6.73%2C30.6%2C6.73%2C30.6c25.1-2.13%2C10.01-37.15%2C6.01-43.51-4-6.37-1.27-17.46-1.27-17.46%2C6.19-5.46-1.09-17.46-1.09-17.46%2C0%2C0%2C1.28-16.01-2.54-19.1-3.82-3.09-4-10.73-4-10.73-6.74-29.28-28.74-23.64-28.74-23.64-28.19-3.09-26.31%2C25.06-26.31%2C25.06Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-dec0bcbe-f1ad-43aa-8153-40375ac32d1e-45-45%22%20d%3D%22m782.02%2C279.08h0c-.46-2.41-1.5-4.68-3.05-6.61l-3.44-25.37-12.49%2C1.98%2C4.83%2C25.52c-.67%2C2.36-.75%2C4.84-.24%2C7.24%2C1.21%2C6.01%2C5.42%2C10.26%2C9.39%2C9.5%2C3.97-.76%2C6.21-6.25%2C4.99-12.26h0Z%22%20fill%3D%22%23f2a2a5%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m764.4%2C266.43h16.92s-25.64-129.85-27.83-135.31c-2.18-5.46-20.44-3.14-20.44-3.14%2C0%2C0%2C31.35%2C138.45%2C31.35%2C138.45Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3C/svg%3E"/>
</div>
</div>
</div>
</div>
</div>
</section>
<!--====== Everything Start ======-->
<section class="everything-area" id="everything" style="background-color: transparent">
<div class="everything-shape shape-1 bg-primary" style="opacity: 0.2"></div>
<div class="everything-shape shape-2"></div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="everything-image mt-50 wow fadeInLeftBig" data-wow-delay="0.3s" data-wow-duration="1s">
<div class="image">
<img alt="" class="feature3" id="img-fluid" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22949.85%22%20height%3D%22463.64%22%20viewBox%3D%220%200%20949.85%20463.64%22%3E%3Cpath%20d%3D%22m0%2C418.39c0%2C.94%2C1.07%2C1.69%2C2.41%2C1.69h945.03c1.33%2C0%2C2.41-.75%2C2.41-1.69s-1.07-1.69-2.41-1.69H2.41c-1.33%2C0-2.41.75-2.41%2C1.69Z%22%20fill%3D%22%232f2e43%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m789.19%2C420.78H162.66V17.31c0-9.54%2C7.76-17.31%2C17.31-17.31h591.91c9.54%2C0%2C17.31%2C7.76%2C17.31%2C17.31v403.47Z%22%20fill%3D%22%232f2e41%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m841.34%2C463.64H108.95c-2.53%2C0-4.6-1.57-5.29-4.01-.68-2.43.27-4.86%2C2.43-6.17l57.09-34.83h626.22l.18.11%2C54.72%2C34.77c2.11%2C1.34%2C3.03%2C3.76%2C2.33%2C6.17-.7%2C2.4-2.77%2C3.96-5.27%2C3.96Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22179.09%22%20y%3D%2225.72%22%20width%3D%22592.95%22%20height%3D%22368.63%22%20fill%3D%22%23fff%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22794.9%20441.5%20159.09%20441.5%20190.52%20416%20764.9%20416%20794.9%20441.5%22%20fill%3D%22%232f2e41%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22626.31%20458.64%20324.83%20458.64%20336.26%20441.5%20614.88%20441.5%20626.31%20458.64%22%20fill%3D%22%232f2e41%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m653.28%2C171.49h-31.41c-2.73%2C0-4.95-2.22-4.95-4.95s2.22-4.95%2C4.95-4.95h31.41c2.73%2C0%2C4.95%2C2.22%2C4.95%2C4.95s-2.22%2C4.95-4.95%2C4.95Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m689.4%2C171.49h-14.66c-2.73%2C0-4.95-2.22-4.95-4.95s2.22-4.95%2C4.95-4.95h14.66c2.73%2C0%2C4.95%2C2.22%2C4.95%2C4.95s-2.22%2C4.95-4.95%2C4.95Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m338.8%2C175.27h-95.6c-4.88%2C0-8.85-3.97-8.85-8.85s3.97-8.85%2C8.85-8.85h95.6c4.88%2C0%2C8.85%2C3.97%2C8.85%2C8.85s-3.97%2C8.85-8.85%2C8.85Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m286.97%2C198.88h-46.07c-2.97%2C0-5.4-2.42-5.4-5.4s2.42-5.4%2C5.4-5.4h46.07c2.97%2C0%2C5.4%2C2.42%2C5.4%2C5.4s-2.42%2C5.4-5.4%2C5.4Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m540.95%2C220.19H239.74c-2.97%2C0-5.4-2.42-5.4-5.4s2.42-5.4%2C5.4-5.4h301.21c2.97%2C0%2C5.4%2C2.42%2C5.4%2C5.4s-2.42%2C5.4-5.4%2C5.4Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m515.04%2C234.59H239.74c-2.97%2C0-5.4-2.42-5.4-5.4s2.42-5.4%2C5.4-5.4h275.29c2.97%2C0%2C5.4%2C2.42%2C5.4%2C5.4s-2.42%2C5.4-5.4%2C5.4Z%22%20fill%3D%22%23dfdfdf%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22838.74%20152.18%20824.02%20157.02%20824.02%20135.82%20837.38%20135.82%20838.74%20152.18%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Ccircle%20cx%3D%22825.84%22%20cy%3D%22127.02%22%20r%3D%2214.67%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m829.87%2C125.57c-2.46-.07-4.07-2.56-5.02-4.82-.95-2.27-1.94-4.87-4.21-5.81-1.86-.77-5.15%2C4.4-6.62%2C3.03-1.53-1.43-.04-8.81%2C1.59-10.13s3.85-1.58%2C5.95-1.68c5.11-.24%2C10.26.18%2C15.27%2C1.22%2C3.1.65%2C6.29%2C1.62%2C8.53%2C3.86%2C2.83%2C2.84%2C3.56%2C7.13%2C3.76%2C11.14.21%2C4.1-.03%2C8.4-2.02%2C11.98-1.99%2C3.59-6.17%2C6.24-10.17%2C5.32-.4-2.18%2C0-4.41.16-6.62.15-2.21%2C0-4.59-1.35-6.35s-4.23-2.45-5.8-.89%22%20fill%3D%22%2336344e%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m847.92%2C130.65c1.47-1.08%2C3.22-1.97%2C5.03-1.75%2C1.95.24%2C3.6%2C1.85%2C4.1%2C3.75s-.06%2C4-1.27%2C5.55c-1.21%2C1.55-3%2C2.58-4.9%2C3.1-1.1.3-2.3.42-3.35-.03-1.54-.66-2.37-2.64-1.77-4.2%22%20fill%3D%22%2336344e%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22820.09%22%20y%3D%22388%22%20width%3D%2213.79%22%20height%3D%2219.56%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m806.66%2C419.41c-1.45%2C0-2.74-.04-3.71-.13-3.66-.34-7.16-3.04-8.92-4.62-.79-.71-1.04-1.84-.63-2.82h0c.29-.7.88-1.22%2C1.61-1.43l9.68-2.77%2C15.67-10.58.17.31c.07.12%2C1.6%2C2.89%2C2.12%2C4.76.2.71.14%2C1.31-.15%2C1.77-.21.32-.49.5-.73.61.28.3%2C1.17.9%2C3.91%2C1.34%2C3.99.64%2C4.84-3.51%2C4.87-3.68l.03-.14.12-.08c1.9-1.23%2C3.07-1.78%2C3.48-1.66.25.08.67.2%2C1.81%2C11.49.11.35.91%2C2.95.37%2C5.43-.59%2C2.7-12.39%2C1.77-14.75%2C1.56-.07%2C0-8.9.64-14.96.64Z%22%20fill%3D%22%2336344e%22%20stroke-width%3D%220%22/%3E%3Crect%20x%3D%22865.58%22%20y%3D%22374.8%22%20width%3D%2213.79%22%20height%3D%2219.56%22%20transform%3D%22translate%28-71.35%20519.94%29%20rotate%28-31.95%29%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m857.61%2C416.73c-1.62%2C0-3.11-.19-4.17-.38-1.04-.18-1.86-1.01-2.03-2.06h0c-.12-.75.1-1.5.61-2.07l6.75-7.47%2C7.7-17.27.31.17c.12.06%2C2.89%2C1.6%2C4.32%2C2.92.54.5.81%2C1.03.8%2C1.58%2C0%2C.38-.15.69-.29.9.4.1%2C1.47.14%2C4.03-.94%2C3.73-1.57%2C2.25-5.54%2C2.19-5.71l-.05-.13.06-.13c.97-2.05%2C1.66-3.14%2C2.07-3.25.25-.07.68-.18%2C7.61%2C8.79.28.24%2C2.33%2C2.02%2C3.19%2C4.42.93%2C2.6-9.58%2C8.06-11.69%2C9.13-.07.05-11.06%2C8.04-15.57%2C10.31-1.79.9-3.91%2C1.18-5.84%2C1.18Z%22%20fill%3D%22%2336344e%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m844.04%2C224.38h-38.61l-3.5%2C35.92%2C15.33%2C132.71h19.71l-7.88-76.65%2C31.97%2C69.2%2C17.52-12.26-24.97-64.6s8.92-56.28%2C1.91-70.3c-7.01-14.02-11.48-14.02-11.48-14.02Z%22%20fill%3D%22%2336344e%22%20stroke-width%3D%220%22/%3E%3Cpolygon%20points%3D%22863.24%20226.57%20801.92%20226.57%20820.32%20147.3%20847.03%20147.3%20863.24%20226.57%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-52db3307-ec3e-496d-a5d4-9d1f33ffc652-45-45-44-44%22%20d%3D%22m786.69%2C145.73c-.98-4.82.81-9.23%2C4-9.84%2C3.19-.61%2C6.56%2C2.8%2C7.54%2C7.63.42%2C1.92.35%2C3.91-.19%2C5.81l3.88%2C20.49-10.02%2C1.58-2.76-20.36c-1.24-1.55-2.08-3.37-2.45-5.31h0Z%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m846.38%2C147.3h-23.56l-15.88%2C31.77-5.99-23.8-13.16%2C1.4s3.11%2C46.51%2C16.73%2C44.94c13.61-1.57%2C45.36-43.48%2C41.87-54.3Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3Cpath%20id%3D%22uuid-2800d917-a06e-4fc6-b661-0f9df9cadefc-46-46-45-45%22%20d%3D%22m872.7%2C268.11c.98%2C4.82-.81%2C9.23-4%2C9.84-3.19.61-6.56-2.8-7.54-7.63-.42-1.92-.35-3.91.19-5.81l-3.88-20.49%2C10.02-1.58%2C2.76%2C20.36c1.24%2C1.55%2C2.08%2C3.37%2C2.45%2C5.31%2C0%2C0%2C0%2C0%2C0%2C0Z%22%20fill%3D%22%23f2a7aa%22%20stroke-width%3D%220%22/%3E%3Cpath%20d%3D%22m832.95%2C147.3s13.39-.57%2C14.08%2C0c3.65%2C2.99%2C25.09%2C110.66%2C25.09%2C110.66h-13.58s-25.6-110.66-25.6-110.66Z%22%20fill%3D%22%238c00ff%22%20stroke-width%3D%220%22/%3E%3C/svg%3E"/>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="everything-content-wrapper mt-50">
<div class="section-title">
<p class="sub-title">Review</p>
<h2 class="title" id="feat_title3">Review Page</h2>
</div>
<div class="everything-content">
<ul class="everything-items">
<li>
<span>01</span>
<p>...</p>
</li>
</ul>
<a class="main-btn main-btn-2 bg-primary" href="/review">Learn More</a>
</div>
</div>
</div>
</div>
</div>
</section>
<!--====== Everything Ends ======-->
<!--review end-->

<!--Testimonils end-->
<!-- footer & cta start -->
<section class="footer bg-light" style="padding: 50px 20px">
<div class="pb-0" id="contact">
<!-- start container -->
<div class="container" style="padding-bottom: 40px">
<div class="contact-item">
<div class="row align-items-center">
<!-- <div class="col-lg-5"> -->
<div class="contact-info">
<div class="mb-4">
<h2>Let's Connect</h2>
<!-- <p class="text-muted mb-0">
                    Looking for help? Fill the form and start a new adventure.
                  </p> -->
</div>
<hr/>
<div class="contact_details">
<div class="info-content">
<h5>Address :</h5>
<div class="d-flex mt-2">
<div class="icon">
<i class="mdi mdi-home-outline fs-24 text-primary"></i>
</div>
<div class="icon-content ms-3">
<p class="mb-0 fs-15" id="address">1 Harrison Plaza, Florence, AL 35632</p>
</div>
</div>
</div>
<div class="info-content">
<h6>Support :</h6>
<div class="d-flex mt-2">
<div class="icon">
<i class="mdi mdi-email-outline fs-24 text-primary"></i>
</div>
<div class="icon-content ms-3">
<p class="mb-0 fs-15" id="email">Sbasalim@una.edu</p>
</div>
</div>
</div>
<div class="info-content">
<h6>Phone :</h6>
<div class="d-flex mt-2">
<div class="icon">
<i class="mdi mdi-phone-outline fs-24 text-primary"></i>
</div>
<div class="icon-content ms-3">
<p class="mb-0 fs-15" id="mob_no">+1 419-322-8629</p>
</div>
</div>
</div>
</div>
</div>
<!-- </div> -->
</div>
</div>
</div>
</section>
<!-- footer & cta end -->
</body>
</html>

    <!-- Your JavaScript imports -->
    <script src="/path/to/your/main.js"></script>
</body>

</html>
